/****** General ***********/
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Shrikhand&display=swap');
* {
    margin: 0;
    padding: 0;
}

.container{
    box-sizing: border-box;;
}
.logo{
    padding: 14px 0 13px 0;
    text-align: center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    position: relative;
    
}
.logo img{
    width: 167px;
    
}
.navbar{
    display: flex;
    background-color: #EAEAEA;
    justify-content: center;
    align-items: center;
    gap: 17px;
    padding: 15px 0 15px 0;
}

.explorer  {
    padding: 40px 30px;
    background: #F6F6F6;
}
h1{
    font-family: Roboto, sans-serif;
    text-align: center;
    font-size:24px;
    color: black;
}
h2{
    font-family: Roboto;
    font-size: 18px;
    text-align: center;
    font-weight: 300;
    margin: 20px 0;
}

.cardmenulist{
    list-style: none;
}

.button {
    width: 218px;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
    margin: auto;
    padding: 16px 17px;
    border-radius: 25px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    font-size: 16px;
    font-family: Roboto, sans-serif;
 } 
 .button:hover{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
 }
 .foncionning{
    margin: 48px 20px;
 }

.foncionning h3{
    margin-bottom: 26px;
}

.foncionning ol{
    display: flex;
    row-gap: 24px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

.foncionning li{
    column-gap: 27px;
    border-radius: 20px;
    background: var(--Background, #F6F6F6);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 72px;
    padding: 0 33px;
}
.number{
    color: white;
    background: #9356DC;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    transform: translate(-50%, -50%);
}
.restaurants{
    background-color: #f6f6f6;
    width: 100%;

}
.card img{
    object-fit: contain;
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.cardcontent span{
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nouveau{
    position: absolute;
    color: var(--Green-Font, #008766);
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    top: 20px;
    right: 20px;
    background: #99E2D0;
    padding: 7px 9px;
}





.footer{
    display: flex;
    flex-flow: column;
    gap: 16px;
    padding: 25px 22px 22px 25px;
    background: #353535;
    color: white;
}

.name p{
    color: var(--White, #FFF);
font-family: Shrikhand;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

.footer-column{
    font-size: 16px;
}
.footer-column i{
    margin-right: 10px;
}
.footer p{
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.footer ul{
    list-style-type: none;
}
